Django==6.0.7
djangorestframework==3.17.1
django-environ==0.14.0
django-cors-headers==4.9.0
drf-spectacular==0.30.0
boto3==1.43.56
psycopg2-binary==2.9.12
sentence-transformers==5.6.1
pyarrow==25.0.0
pandas==3.0.5
requests==2.34.2
redis==8.1.0
rapidfuzz==3.14.5
